---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Nous sommes là pour vous aider.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contactez Quicksurv</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Quelque chose à nous dire ? Nous sommes là pour vous aider. Renseignez le formulaire et nous reviendrons vers vous dès que possible.
        </p>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
