---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Feedback en direct",
    description:
      "Collectez les retours de vos exposants et de vos participants en temps réel pendant vos événements, avec des sondages interactifs accessibles en un clic.",
    icon: "bx:bx-pulse",
  },
  {
    title: "Analyse des sentiments",
    description:
      "Notre technologie analyse automatiquement les commentaires pour détecter les tendances et le niveau de satisfaction de vos participants.",
    icon: "bx:bxs-smile",
  },
  {
    title: "Tableaux de dord dynamiques",
    description:
      "Visualisez instantanément les résultats grâce à des dashboards personnalisables qui évoluent en temps réel pendant votre événement.",
    icon: "bx:bxs-dashboard",
  },
  {
    title: "QR codes intelligents",
    description: "Déployez facilement vos questionnaires via des QR codes personnalisés, permettant une participation simple et immédiate.",
    icon: "bx:bx-qr",
  },
  {
    title: "Rapports automatisés",
    description: "Générez des rapports détaillés post-événement incluant analyses comparatives, insights clés et recommandations d'actions.",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "Export commercial",
    description: "Transformez les retours en opportunités commerciales grâce à l'export de leads qualifiés et l'intégration avec votre CRM.",
    icon: "bx:bxs-briefcase",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Tout ce qu'il faut pour piloter vos événements</h2>
  <p class="text-lg mt-4 text-slate-600">Quicksurv combine le meilleur des technologies de feedback et d'analyse en temps réel.</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3> <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
